.DS_Store

secrets.py

__pycache__/

prefixes.json

requirements.txt

deleted.json

afks.json

blacklist.json

errors.json

nominees.json

.vscode/

env/

rep.json

tempCodeRunnerFile.py

.idea

DevilBotOCR.png

DevilBotOCRFinal.png

DevilBotOCR.jpg

DevilBotOCRFinal.jpg

captcha.png

fcount.json

giveaways.json

starboard.json

logging.json

LOG.log

.gitignore
