# Weird MacOS system file that does jackshit
.DS_Store

# Ooh secrets
secrets.py

# Remind me why pycache exists?
__pycache__/

# Yes, I should use a database, you're right
prefixes.json

requirements.txt

deleted.json

afks.json

blacklist.json

errors.json

nominees.json

.vscode/

env/

rep.json

tempCodeRunnerFile.py

.idea

DevilBotOCR.png

DevilBotOCRFinal.png

DevilBotOCR.jpg

DevilBotOCRFinal.jpg

captcha.png

fcount.json

giveaways.json

starboard.json

logging.json
